.Container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: rgb(237, 244, 244);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(4, 92, 100);
}

.heading {
  color: blue;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
}

.formRow {
  margin-bottom: 1rem;
}
