.header {
    display:flex;
    justify-content: space-between;
    background-color: rgb(178, 206, 206);
    padding:40px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;

}
.header h1 {
  font-size: 1.5rem;
}
.nav {
  margin: 0;
  font-size: 1.2rem;
}


.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.navLink {
  text-decoration: none;
  font-weight: 500;
}

.navLink:hover {
  color: #0909f5;
  text-decoration: underline;
}